<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:viewParam name="id" value="#{ confirmBean.hashCode}" />
	<f:viewAction action="#{ confirmBean.setEvent }" />
</f:metadata>

<h:head>
</h:head>

<h:body>
	<h1>#{confirmBean.event.title}</h1>

	<p>#{confirmBean.event.description}</p>



	<h:form>
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
			<h:outputText value="Presence? : " />
			<p:selectOneButton value="#{confirmBean.status}">
				<f:selectItem itemLabel="Confirm" itemValue="confirm" />
				<f:selectItem itemLabel="Refuse" itemValue="refuse" />
			</p:selectOneButton>

			<p:commandButton value="Submit" icon="ui-icon-check"
				action="#{confirmBean.confirm}" />
			<p:spacer />

		</h:panelGrid>
	</h:form>

</h:body>
</html>