<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:event listener="#{sessionBean.isUsername}" type="preValidate" />
	<f:viewAction action="#{ createEventBean.setUsername }" />
</f:metadata>

<h:head>
</h:head>

<h:body>
	<p:button outcome="eventlist" value="Accueil" icon="ui-icon-star" />
	<p:button outcome="logging" value="Login" />
	<hr />

	<h:form>
		<h:panelGrid columns="3" cellpadding="8">
			<h:outputLabel value="Title*: " />
			<p:inputText id="title" value="#{ createEventBean.title }" />
			<h:message for="title"></h:message>

			<h:outputLabel value="Description*: " />
			<p:inputTextarea id="description"
				value="#{ createEventBean.description }" rows="4" cols="30" />
			<h:message for="description"></h:message>
			<hr />
		</h:panelGrid>
		<h:commandButton value="Create your event"
			action="#{ createEventBean.create }" />
	</h:form>

</h:body>
</html>