<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:event listener="#{sessionBean.isUsername}" type="preValidate" />
	<f:viewParam name="id" value="#{ eventStatBean.eventId}" />
	<f:viewAction action="#{ eventStatBean.setEvent }" />
</f:metadata>

<h:head>
</h:head>

<h:body>

	<p:button outcome="eventlist" value="Accueil" icon="ui-icon-star" />


	<h:panelGroup rendered="#{not empty username}">
		<p:button outcome="createevent" value="create" />
		<h:form>
			<h:commandButton value="#{username} | Logout"
				action="#{logoutBean.logout}" />
		</h:form>
	</h:panelGroup>
	<h:panelGroup rendered="#{empty username}">
		<p:button outcome="logging" value="Login" />
		<p:button outcome="register" value="Register" />
	</h:panelGroup>

	<hr />


	<p:tabMenu activeIndex="#{param.i}">
		<p:menuitem value="Event detail" outcome="eventdetail.xhtml">
			<f:param name="id" value="#{ eventStatBean.eventId }" />
		</p:menuitem>
		<p:menuitem value="Statistics" outcome="eventstat.xhtml">
			<f:param name="id" value="#{ eventStatBean.eventId }" />
		</p:menuitem>
	</p:tabMenu>

	<hr />

	<h3 style="margin-top: 0">Participation to #{event.title}</h3>
	<p:graphicImage value="#{eventStatBean.chart}" />
	
	

</h:body>
</html>