<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>

	<p:button outcome="eventlist" value="Accueil" icon="ui-icon-star" />


	<h:panelGroup rendered="#{not empty username}">
		<p:button outcome="createevent" value="create" />
		<h:form>
			<h:commandButton value="#{username} | Logout"
				action="#{logoutBean.logout}" />
		</h:form>
	</h:panelGroup>
	<h:panelGroup rendered="#{empty username}">
		<p:button outcome="logging" value="Login" />
		<p:button outcome="register" value="Register" />
	</h:panelGroup>

	<hr />

	<h:form>
		<p:dataScroller value="#{eventListBean.events}" var="event"
			chunkSize="10">
			<f:facet name="header">
            Scroll Down to Load More events
        </f:facet>

			<h:panelGrid columns="2" style="width:100%"
				columnClasses="logo,detail">
				<p:graphicImage width="300px"
					url="http://cdn.stupiddope.com/wp-content/uploads/2010/02/preston-bailey-events-designer-high-end1-1024x681.jpg" />

				<p:outputPanel>
					<h:panelGrid columns="2" cellpadding="5">
						<h:outputText value="Title:" />
						<h:outputText value="#{event.title}" style="font-weight: bold" />

						<h:outputText value="Description:" />
						<h:outputText value="#{event.description}"
							style="font-weight: bold" />

						<p:link outcome="eventdetail" value="#{ event.title }">
							<f:param name="id" value="#{ event.id }" />
						</p:link>
					</h:panelGrid>
				</p:outputPanel>

			</h:panelGrid>
			<hr />
		</p:dataScroller>
	</h:form>

</h:body>
</html>