<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<f:metadata>
	<f:event listener="#{sessionBean.isUsername}" type="preValidate" />
	<f:viewParam name="id" value="#{ eventDetailBean.eventId}" />
	<f:viewAction action="#{ eventDetailBean.setUsername }" />
	<f:viewAction action="#{ eventDetailBean.setEvent }" />
	<f:viewAction action="#{ eventDetailBean.fillUserParticipatingLists }" />
</f:metadata>

<h:head>
</h:head>

<h:body>
	<p:button outcome="eventlist" value="Accueil" icon="ui-icon-star" />

	<p:tabMenu activeIndex="#{param.i}">
		<p:menuitem value="Event detail" outcome="eventdetail.xhtml">
			<f:param name="id" value="#{ eventDetailBean.eventId }" />
		</p:menuitem>
		<p:menuitem value="Statistics" outcome="eventstat.xhtml">
			<f:param name="id" value="#{ eventDetailBean.eventId }" />
		</p:menuitem>
	</p:tabMenu>

	<title>#{eventDetailBean.event.title}</title>
	<hr />

	<h1>#{eventDetailBean.event.title}</h1>

	<h:form>


		<h3>Emails</h3>
		<p:inputTextarea value="#{ eventDetailBean.email }" rows="6" cols="33" />
		<hr />

		<h:commandButton value="Invite" action="#{ eventDetailBean.invite }" />



	</h:form>

	<p:dataList value="#{ eventDetailBean.pendingUsers}" var="mail"
		type="ordered">
		<f:facet name="header">
            Pending
        	</f:facet>
        #{mail}
    </p:dataList>
	<p:dataList value="#{ eventDetailBean.refuseUsers}" var="mail"
		type="ordered">
		<f:facet name="header">
            Refused
        	</f:facet>
        #{mail}
    </p:dataList>
	<p:dataList value="#{ eventDetailBean.confirmUsers}" var="mail"
		type="ordered">
		<f:facet name="header">
            Confirmed
        	</f:facet>
        #{mail}
    </p:dataList>

</h:body>
</html>