<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>

<h:body>

	<p:button outcome="eventlist" value="Accueil" icon="ui-icon-star" />
	<hr />
	<h:form>
		<h:panelGrid columns="3" cellpadding="8">
			<h:outputLabel for="username" value="Username: *" />
			<p:inputText id="username" value="#{ loggingBean.username }" />
			<h:message for="username"></h:message>
			
			<h:outputLabel for="pwd" value="Password : *" />
			<p:password id="password" value="#{loggingBean.password}" label="Password"
				required="true" />
				<h:message for="password"></h:message>
		</h:panelGrid>
		<h:commandButton value="Login" action="#{loggingBean.validate }" />
	</h:form>

</h:body>
</html>


