<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>

<h:body>

	<h:form>
		<h:outputLabel for="username" value="Username: *" />
		<p:inputText value="#{ loggingBean.username }" />

		<h:outputLabel for="pwd" value="Password : *" />
		<p:password value="#{loggingBean.password}" label="Password"
			required="true" />

		<h:commandButton value="Login" action="#{loggingBean.validate }" />

	</h:form>

</h:body>
</html>