<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>

<h:body>

	<p:button outcome="eventlist" value="Accueil" icon="ui-icon-star" />
	<hr />

	<h:form>
		<h:panelGrid columns="3" cellpadding="8">
			<h:outputLabel id="username" value="Username: *" />
			<p:inputText value="#{ registerBean.username }" />
			<h:message for="username"></h:message>

			<h:outputLabel value="Password : *" />
			<p:password id="password1" value="#{registerBean.passwordFirst}"
				label="Password1" required="true" />
			<h:message for="password1"></h:message>

			<h:outputLabel value="Password : *" />
			<p:password id="password2" value="#{registerBean.passwordSecond}"
				label="Password2" required="true" />
			<h:message for="password2"></h:message>
		</h:panelGrid>

			<h:commandButton value="Register" action="#{registerBean.register}" />
	</h:form>

</h:body>
</html>