<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<head>
<title>Hello JSF</title>
</head>

<body>
	#{ helloJSF.hello }


	<h:dataTable value="#{ listBean.integers }" var="item">
		<h:column>
			<f:facet name="header">item</f:facet>
		#{item}
		</h:column>
		<h:column>
		<f:facet name="header">item mult by 2</f:facet>
		#{ item * 2 }</h:column>
	</h:dataTable>
</body>

</html>
